// Variable
$border-color:      #e4e4e4;      

// Default View
.flextable {
  background-color: #ffffff;
  border: 1px solid $border-color;
  box-sizing: border-box;

  .ft-row {
    display: flex;
    flex-wrap: wrap;
    height: auto;

    &.ft-row_header {
      border-bottom: 1px solid $border-color;
      font-weight: bold;
    }

    &.ft-row_reverse { flex-direction: row_reverse; }
    
    &.ft-row_align-center { align-items: center; }

    &.ft-row_align-bottom { align-items: flex-end; }

    @include md-breakpoint {
      &:not(.ft-row_header):hover {
        background-color: #f5f5f5;
      }
    }
  }

  .ft-col {
    display: none; // Hides ALL columns on compact devices
    flex: 1 0 60px;
    padding: 15px 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4em;
    word-break: break-word;

    &.ft-col_checkbox {
      display: block;
      flex: 0 0 20px;
      padding-left: 15px !important;

      .ft-checkbox-holder {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        line-height: 1em;
      }

      .ft-checkbox {
        opacity: 0;
        z-index: 1;
      }

      .ft-checkbox__label {
        display: inline-block;
        vertical-align: middle;
        line-height: 1em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;

        &:before,
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
        }

        // Checkbox bounding box
        &:before {
          width: 1.2em;
          height: 1.2em;
          border: 1px solid #707070;
          background-color: #fff;
          box-sizing: border-box;
        }

        // Checkbox check
        &:after {
          top: 0.3em;
          width: 0.78em;
          height: 0.44em;
          border-bottom: 0.2em solid #424142;
          border-left: 0.2em solid #424142;
          box-sizing: border-box;
          transform: rotate(-45deg);
          opacity: 0;
        }
      }

    }

    &.ft-col_title {
      display: block;
      flex: 2 0 120px;

      a { 
        position: relative; 
        display: block;
        padding-left: 25px;
        color: #325cca;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 16px;
          height: 16px;
        }
      }

      // File type icons
      &[data-file-type="docx"] a:before { background: url('.././img/ico16x16_docx.png') 0 50% no-repeat; }
      &[data-file-type="pptx"] a:before { background: url('.././img/ico16x16_pptx.png') 0 50% no-repeat; }
    }

    &.ft-col_flex-grow-2 {
      display: block;
      flex: 2 0 120px;
    } 

    &.ft-col_no-flex-grow {
      flex-grow: 0 !important;
      flex-basis: 60px;
    }


    &.ft-show_xs { display: block; }

    @include sm-breakpoint{
      &.ft-show_sm { display: block; }
    }

    @include md-breakpoint { 
      display: block; 

      &.ft-col_with-border { border-right: 1px solid #f2f2f2; }
      &.ft-col_with-border:last-child { border-right: none; }
      &.ft-show_md { display: block; }
    }
    
  }

}

// Compact List View
.flextable_compact-list {

  .ft-row {
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }

    &.ft-row_header {
      display: none;

      @include md-breakpoint {
        display: flex;
      }
    }

    @include md-breakpoint {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  
  .ft-col {
    display: block;

    @include md-breakpoint {
      flex: 1 0 60px;
    }

    &:not(.ft-col_header) {
      flex: 0 0 100%;
      position: relative;
      padding: 3px 10px 3px 150px;
      min-height: 25px;

      @include md-breakpoint {
        flex: 1 0 60px;
        padding: 15px 10px;
      }

      &:before {
        content: attr(data-column-label);
        position: absolute;
        left: 15px;
        display: inline-block;
        width: 100px;
        color: #bbbbbb;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;

        @include md-breakpoint {
          display: none;
        }
      }
    }

    &.ft-col_header {
      font-weight: bold;

      a { font-weight:normal; }

      @include md-breakpoint {
        font-weight: normal;
        .ft-col {
          flex: 1 0 60px;
        }
      }
    }

    &.ft-col_checkbox {
      @include md-breakpoint {
        flex: 0 0 20px;
      }
    }

    &.ft-col_title {
      flex: 2 0 120px;
    }

    &.ft-col_flex-grow-2 {
      flex: 2 0 120px;
    }
  }

}