//min-width: 480; max-width:767px
  @mixin sm-breakpoint {
    @media (min-width: #{$sm}) {
      @content;
    }
  }

  //min-width: 768; max-width:959px
  @mixin md-breakpoint {
    @media (min-width: #{$md}) {
      @content;
    }
  }

  //min-width: 960; max-width:-
  @mixin lg-breakpoint {
    @media (min-width: #{$lg}) {
      @content;
    }
  }