.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb; }

#root {
  padding: 10px;
  box-sizing: border-box; }

.app__header {
  height: auto;
  padding: 20px;
  text-align: center; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.actions-pane {
  height: auto;
  padding: 15px;
  background-color: #e4e4e4; }

.code-box > pre {
  overflow-x: scroll;
  padding: 20px;
  margin: 20px 0;
  background-color: #f0f4f9;
  border: 1px solid #dbe4ef;
  box-sizing: border-box; }

.box,
.demo-box {
  margin: 40px 0; }

.box {
  max-width: 780px; }

.flextable {
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box; }

.flextable .ft-row {
  display: flex;
  flex-wrap: wrap;
  height: auto; }

.flextable .ft-row.ft-row_header {
  border-bottom: 1px solid #e4e4e4;
  font-weight: bold; }

.flextable .ft-row.ft-row_reverse {
  flex-direction: row_reverse; }

.flextable .ft-row.ft-row_align-center {
  align-items: center; }

.flextable .ft-row.ft-row_align-bottom {
  align-items: flex-end; }

@media (min-width: 768px) {
  .flextable .ft-row:not(.ft-row_header):hover {
    background-color: #f5f5f5; } }

.flextable .ft-col {
  display: none;
  flex: 1 0 60px;
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4em;
  word-break: break-word; }

.flextable .ft-col.ft-col_checkbox {
  display: block;
  flex: 0 0 20px;
  padding-left: 15px !important; }

.flextable .ft-col.ft-col_checkbox .ft-checkbox-holder {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  line-height: 1em; }

.flextable .ft-col.ft-col_checkbox .ft-checkbox {
  opacity: 0;
  z-index: 1; }

.flextable .ft-col.ft-col_checkbox .ft-checkbox__label {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.flextable .ft-col.ft-col_checkbox .ft-checkbox__label:before, .flextable .ft-col.ft-col_checkbox .ft-checkbox__label:after {
  content: "";
  display: inline-block;
  position: absolute; }

.flextable .ft-col.ft-col_checkbox .ft-checkbox__label:before {
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #707070;
  background-color: #fff;
  box-sizing: border-box; }

.flextable .ft-col.ft-col_checkbox .ft-checkbox__label:after {
  top: 0.3em;
  width: 0.78em;
  height: 0.44em;
  border-bottom: 0.2em solid #424142;
  border-left: 0.2em solid #424142;
  box-sizing: border-box;
  transform: rotate(-45deg);
  opacity: 0; }

.flextable .ft-col.ft-col_title {
  display: block;
  flex: 2 0 120px; }

.flextable .ft-col.ft-col_title a {
  position: relative;
  display: block;
  padding-left: 25px;
  color: #325cca;
  cursor: pointer; }

.flextable .ft-col.ft-col_title a:hover {
  text-decoration: underline; }

.flextable .ft-col.ft-col_title a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px; }

.flextable .ft-col.ft-col_title[data-file-type="docx"] a:before {
  background: url(".././img/ico16x16_docx.png") 0 50% no-repeat; }

.flextable .ft-col.ft-col_title[data-file-type="pptx"] a:before {
  background: url(".././img/ico16x16_pptx.png") 0 50% no-repeat; }

.flextable .ft-col.ft-col_flex-grow-2 {
  display: block;
  flex: 2 0 120px; }

.flextable .ft-col.ft-col_no-flex-grow {
  flex-grow: 0 !important;
  flex-basis: 60px; }

.flextable .ft-col.ft-show_xs {
  display: block; }

@media (min-width: 480px) {
  .flextable .ft-col.ft-show_sm {
    display: block; } }

@media (min-width: 768px) {
  .flextable .ft-col {
    display: block; }
  .flextable .ft-col.ft-col_with-border {
    border-right: 1px solid #f2f2f2; }
  .flextable .ft-col.ft-col_with-border:last-child {
    border-right: none; }
  .flextable .ft-col.ft-show_md {
    display: block; } }

.flextable_compact-list .ft-row {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4; }

.flextable_compact-list .ft-row:last-child {
  border-bottom: none; }

.flextable_compact-list .ft-row.ft-row_header {
  display: none; }

@media (min-width: 768px) {
  .flextable_compact-list .ft-row.ft-row_header {
    display: flex; } }

@media (min-width: 768px) {
  .flextable_compact-list .ft-row {
    border-bottom: none;
    padding-bottom: 0; } }

.flextable_compact-list .ft-col {
  display: block; }

@media (min-width: 768px) {
  .flextable_compact-list .ft-col {
    flex: 1 0 60px; } }

.flextable_compact-list .ft-col:not(.ft-col_header) {
  flex: 0 0 100%;
  position: relative;
  padding: 3px 10px 3px 150px;
  min-height: 25px; }

@media (min-width: 768px) {
  .flextable_compact-list .ft-col:not(.ft-col_header) {
    flex: 1 0 60px;
    padding: 15px 10px; } }

.flextable_compact-list .ft-col:not(.ft-col_header):before {
  content: attr(data-column-label);
  position: absolute;
  left: 15px;
  display: inline-block;
  width: 100px;
  color: #bbbbbb;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .flextable_compact-list .ft-col:not(.ft-col_header):before {
    display: none; } }

.flextable_compact-list .ft-col.ft-col_header {
  font-weight: bold; }

.flextable_compact-list .ft-col.ft-col_header a {
  font-weight: normal; }

@media (min-width: 768px) {
  .flextable_compact-list .ft-col.ft-col_header {
    font-weight: normal; }
  .flextable_compact-list .ft-col.ft-col_header .ft-col {
    flex: 1 0 60px; } }

@media (min-width: 768px) {
  .flextable_compact-list .ft-col.ft-col_checkbox {
    flex: 0 0 20px; } }

.flextable_compact-list .ft-col.ft-col_title {
  flex: 2 0 120px; }

.flextable_compact-list .ft-col.ft-col_flex-grow-2 {
  flex: 2 0 120px; }
