// Helpers 
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Layout
body { 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb; 
}

#root {
  padding: 10px;
  box-sizing: border-box;
}

.app__header {
  height: auto;
  padding: 20px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.actions-pane {
  height: auto;
  padding: 15px;
  background-color: #e4e4e4;
}

.code-box > pre {
  overflow-x: scroll;
  padding: 20px;
  margin: 20px 0;
  background-color: #f0f4f9;
  border: 1px solid #dbe4ef;
  box-sizing: border-box;
}

.box,
.demo-box {
  margin: 40px 0;
}

.box { max-width: 780px; }